<div class="container">
  <h1>Admin</h1>

  <div class="form-control">
    <div>
      <input type="text" placeholder="Title" ng-model="product" required/>
      <input type="text-box" placeholder="Description" ng-model="brand" required/>
      <input type="text" placeholder="Price" ng-model="price" required/>
      <button ng-click="addProduct(product, brand, price)">Add Product</button>
    </div>
  </div>

  <div>
    <button ng-click="getProducts()">Show Products</button>
  </div>
  <div ng-repeat="product in products">
    {{product.title}}: {{product.description}} for ${{product.price}}
    <button ng-click="delete(product)">Delete</button>
  </div>

</div>
